<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Outfit</title>
    <base href="../">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
      <link href="css/bootstrap-responsive.css" rel="stylesheet">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script src="js/bootstrap.js"></script>
      <link href='http://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'>

      <script>
      function goBack()
        {
        window.history.back()
        }
      </script>

  </head>

  <body>
    <table class="logo formatcenter">
        <tr>
          <td style="padding-right:5%;"><button onclick="goBack()" class="pull-left btn_dropdown"><img id="back" src="img/glyphicons_224_chevron-left.png"></button></td>

           <td style="padding-left:auto; padding-right:auto;"><h1>CREATE OUTFIT</h1></td>
          <td class="menuCol">
            <div class="btn-group menu">
            <button class="btn_dropdown" data-toggle="dropdown" id="menuBtn">
            <img id="menu" src="img/glyphicons_114_list.png">
            </button>
              <ul class="dropdown-menu pull-right setbackground" role="menu" aria-labelledby="dropdownMenu">
                 <li class="rightMargin"><a tabindex="-1" href="/home"><img id="setting" src="img/glyphicons_020_home.png" class="rightMargin">HOME</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/settings"><img id="setting" src="img/glyphicons_136_cogwheel.png" class="rightMargin">SETTINGS</a></li>
                <li class="divider"></li>
                <li class="rightMargin"><a tabindex="-1" href="/"><img id="logout" src="img/glyphicons_388_exit.png" class="rightMargin">LOG OUT</a></li>
               </ul>
        </div>  
      </td>
        <!--  <td><a href="/settings" class="btn_nav settingbtn"></a></td> -->
        </tr>
    </table>
    <br>
    <div id="containersimg">
        <div id="wrapper" >
          {{#each tops_list}}
            <div class="square"><a href="#" ><img src="{{url}}"  class="expose" onClick="selectImageTop('{{url}}')"></a></div>
            <div id="overlay"></div>
            {{/each}}
       </div>
    </div>

    <div id="containersimg">
        <div id="wrapper" >

          {{#each pants_list}}
            <div class="square"><a href="#" ><img src="{{url}}"  class="expose" onClick="selectImagePant('{{url}}')"></a></div>

            <div id="overlay"></div>
            {{/each}}
       </div>
    </div>

    <div id="containersimg">
        <div id="wrapper" >
          {{#each shoes_list}}
            <div class="square"><a href="#" ><img id="shoeVal" src="{{url}}"  class="expose" onClick="selectImageShoe('{{url}}')"></a></div>
            <div id="overlay"></div>
            {{/each}}
       </div>
    </div>

    <div id="containersimg">
        <div id="wrapper" >
          {{#each extra_list}}
            <div class="square"><a href="#" ><img id="imgVal" src="{{url}}"  class="expose" onClick="selectImage('{{url}}')"></a></div>
            <div id="overlay"></div>
            {{/each}}
       </div>
    </div>

    <br>
    <div class="container formatcenter">
          <a href="/outfitcreated" class="btn btncolor">CREATE</a>
    </div>

    <br>
    <br>
      <div class="formatcenter">
          <p>&copy; Teleportation</p>
      </div>


        <script src="js/jquery-1.11.0.js"></script>
              <script> 
          $('.expose').click(function(e){
            console.log("in explose");
              $(this).css('z-index','99999');
              $('#overlay').fadeIn(300);
          });

          $('#overlay').click(function(e){
              $('#overlay').fadeOut(300, function(){
                  $('.expose').css('z-index','1');
              });
          });
      </script>

      <script>
      function selectImage(url) {
          console.log("image clicked");
          //var imgVal = document.getElementById("imgVal").src;
          var imgVal = url;
        console.log(imgVal);
        localStorage.removeItem("extraimage");
        localStorage.setItem("extraimage", imgVal);
      }
      </script>
      <script>
        function selectImageShoe(url) {
          console.log("image clicked");
          var shoeVal = url
        console.log(shoeVal);
        localStorage.removeItem("shoeimage");
        localStorage.setItem("shoeimage", shoeVal);
      }
      </script>
      <script>
        function selectImagePant(url) {
          console.log("image clicked");
          var pantVal = url
        console.log(pantVal);
        localStorage.removeItem("pantimage");
        localStorage.setItem("pantimage", pantVal);
      }
      </script>
      <script>
        function selectImageTop(url) {
          console.log("image clicked");
          var topVal = url
        console.log(topVal);
        localStorage.removeItem("topimage");
        localStorage.setItem("topimage", topVal);
      }
      </script>
  </body>
</html>
